[user]
	name = Evangelos Giataganas
	email = e.giataganas@gmail.com

[alias]
  dc = diff --cached
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[apply]
  whitespace = fix
