"*":
  core:
    telemetryConsent: "no"
  "exception-reporting":
    userId: "0a7c84ba-135c-44a3-a4b5-f5cdbc79ef3d"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  welcome:
    showOnStartup: false
