packages: [
  "atom-beautify"
  "busy-signal"
  "file-icons"
  "intentions"
  "language-haml"
  "language-terraform"
  "linter"
  "linter-haml"
  "linter-jshint"
  "linter-pylint"
  "linter-rubocop"
  "linter-ui-default"
  "linter-xmllint"
  "markdown-table-formatter"
  "package-sync"
  "rspec"
  "sort-lines"
]
